node_modules/
dist/
.stencil/
venv/
language-service/backend/venv
language-service/backend/__pycache__
language-service/backend/.vscode
language-service/backend/app/morphology/crk-infl-morpheme-completion.weighted.hfstol